<div *ngIf="oneBlog"></div>
<div></div>
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <!--  Post content -->
      <article>
        <header class="mb-4">
          <!-- Post title -->
          <h1 class="fw-bolder mb-1">{{ oneBlog?.title }}</h1>
          <div class="text-muted fst-italic mb-2">
            Posted by: {{ oneBlog?.author }}
          </div>
        </header>
        <!-- Preview image figure -->
        <img class="img-fluid rounded" src="{{ oneBlog?.photo }}" />

        <!-- Post content -->
        <section class="mb-5">
          <p class="fs-5 mb-4">{{ oneBlog?.content }}</p>
        </section>
      </article>
    </div>
  </div>
</div>
