<section class="py-5">
  <div class="container px-5">
    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="text-center mb-5">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <!-- <i class="bi bi-envelope" /> -->
        </div>
        <h1 class="fw-bolder">Create a new blog</h1>
        <p class="lead fw-normal text-muted mb-0">We'd love to hear from you</p>
      </div>

      <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
          <div class="form-floating mb-3">
            <input
              type="text"
              placeholder="Title"
              [(ngModel)]="title"
              (ngModelChange)="getTitleValue($event)"
            />
          </div>

          <div class="form-floating mb-3">
            <input
              type="text"
              placeholder="author"
              [(ngModel)]="author"
              (ngModelChange)="getAuthorValue($event)"
            />
          </div>

          <div class="form-floating mb-3">
            <input type="file" (change)="uplodImage($event)" />
          </div>

          <div class="form-floating mb-3">
            <input
              type="text"
              placeholder="content"
              [(ngModel)]="content"
              (ngModelChange)="getContentValue($event)"
            />
          </div>

          <div class="d-grid">
            <button (click)="addNewBlog()" class="btn btn-dark">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
